@section Styles
{
    <link rel="stylesheet" href = "~/css/teams.css" />
}
@section Scripts
{
    <script src ="~/js/teams.js" type="module"></script>
}
<div class="section-header"> WSZYSTKIE DRUŻYNY </div>
<div class="team-column-container"></div>