@section Styles
{
    <link rel="stylesheet" href="~/css/team.css" />
}
@section Scripts {
    <script src="~/js/team.js" type="module"></script>
}
<div class="section-header">INFORMACJE O DRUŻYNIE</div>
<div class="spinner-container"></div>
<div class="all-info-container"></div>

