@section Styles
{
    <link rel="stylesheet" href="~/css/team.css" />
}
@section Scripts {
    <script src="~/js/team.js" type="module"></script>
}
<div class="section-header">INFORMACJE O DRUŻYNIE</div>

<div class="all-info-container">
    <div class="team-info-container"></div>
    <div class="team-stats-container">

        <div class="team-stats-header">statystki z aktualnego sezonu</div>

            <div class="team-stats-detail-container">
            </div>

    </div>
</div>

