@section Styles
{
    <link rel="stylesheet" href="~/css/team.css" />
}
<div class="section-header">Gellong</div>

<div class="all-info-container">
    <div class="team-info-container">

        <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png" />
        <div class="single-info">Nazwa: Gellong</div>
        <div class="single-info">Debiut: 1999</div>
        <div class="single-info">Gowno: Gellong</div>

    </div>
    <div class="team-stats-container">

        <div class="team-stats-header">statystki z aktualnego sezonu</div>

            <div class="team-stats-detail-container">

                
                <div class="single-info">Ilosc wygranych: 1</div>
                <div class="single-info">ilosc remisów: 2</div>
                <div class="single-info">ilosc przegranych: 10</div>
                <div class="single-info">Miejsce w tabeli: 1</div>
                <div class="single-info">Punkty w lidze: 20</div>
                <div class="single-info">Liczba zdobytych goli: 10</div>
                <div class="single-info">Liczba bramek zdobytych przez behind: 20</div>
                <div class="single-info">Łączna liczba zdobytych punktów: 20</div>
                <div class="single-info">Liczba straconych goli: 12</div>
                <div class="single-info">Liczba bramek straconych przez behind: 20</div>
                <div class="single-info">Łączna liczba straconych punktów: 20</div>
            </div>

    </div>
</div>

