@section Styles
{
    <link rel="stylesheet" href="~/css/games.css" />
}

<div class="section-header">Historia gier</div>

<div class="param-select-container">

    <div class="selector">
        <div class="select-name">ROK</div>
        <select class="add-param-select" id="year-select">
        </select>
    </div>

    <div class="selector">
        <div class="select-name">RUNDA</div>
        <select class="add-param-select" id="round-select">
            <option value="0">Nie wybrano</option>
        </select>
    </div>

    <div class="selector">
        <div class="select-name">DRUŻYNA</div>
        <select class="add-param-select" id="team-select">
            <option value="0">Nie wybrano</option>
        </select>
    </div>

    

</div>
<div class="games-container">

    <div class="game-container">

        <div class="stadium-and-date-container">Sydney 2024</div>

        <div class="game-result-container">
            
            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png"> 

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

            <div class="score-container">
                <span style="color: green">111</span> - <span style="color: red">211</span>
                
            </div>

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>  

        </div>

    </div>

    <div class="game-container">

        <div class="stadium-and-date-container">Sydney 2024</div>

        <div class="game-result-container">

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

            <div class="score-container">
                <span style="color: green">111</span> - <span style="color: red">211</span>

            </div>

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

        </div>

    </div>

    <div class="game-container">

        <div class="stadium-and-date-container">Sydney 2024</div>

        <div class="game-result-container">
            
            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png"> 

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

            <div class="score-container">
                <span style="color: green">111</span> - <span style="color: red">211</span>
                
            </div>

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>  

        </div>

    </div>

    <div class="game-container">

        <div class="stadium-and-date-container">Sydney 2024</div>

        <div class="game-result-container">

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

            <div class="score-container">
                <span style="color: green">111</span> - <span style="color: red">211</span>

            </div>

            <div class="team-container">

                <img src="https://squiggle.com.au/wp-content/themes/squiggle/assets/images/Geelong.png">

                <div class="team-name-container">
                    Gellong
                </div>

            </div>

        </div>

    </div>


</div>