@section Styles
{
    <link rel="stylesheet" href="~/css/games.css" />
}
@section Scripts
{
    <script src ="~/js/games.js" type="module"></script>
}

<div class="section-header">Historia gier</div>

<div class="param-select-container">

    <div class="selector">
        <div class="select-name">ROK</div>
        <select class="add-param-select" id="year-select">
        </select>
    </div>

    <div class="selector">
        <div class="select-name">RUNDA</div>
        <select class="add-param-select" id="round-select">
            <option value="0">Nie wybrano</option>
        </select>
    </div>

    <div class="selector">
        <div class="select-name">DRUŻYNA</div>
        <select class="add-param-select" id="team-select">
            <option value="0">Nie wybrano</option>
        </select>
    </div>

    

</div>
<div class="games-container"></div>