@section Styles
{
    <link rel="stylesheet" href="~/css/games.css" />
}
@section Scripts
{
    <script src = "~/js//live.js" type="module"></script>
}
<div class="section-header">STATYSTYKI Z GIER NA ŻYWO</div>
<div class="spinner-container"></div>
<div class="games-container"></div>
<div class="not-found-container"></div>