.header {
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    height: 60px; 
    background-color: black; 
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 35px; 
    color: white; 
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav div {
    text-align: center;
}
.section-header {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    grid-column: span 3;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.rectangle {
    background-color: black;
    display: none;
}
.hamburger {
    z-index: 100;
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}
@media (max-width: 600px) {
    .nav {
        z-index: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.9);
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
        gap: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: transform 0.5s;
    }
    .rectangle {
        z-index: 1;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .hamburger {
        display: flex;
        margin-right: 20px;
    }
    .header {
        justify-content: end;
    }
}